html
html
    head
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins:600")
        link(rel="stylesheet", href="styles/style.css")
        script(src="scripts/client.js")
        title URL-Shortener
    body
        form(action = "/", method = "POST" id = "formId")
            div
                label(for="urlInputLabel" id="labelId") URL-Shortener
            br
            div
                input(name = "url" id="inputId" placeholder="Insert URL")
                button(type = "submit" id = "btnId") Submit