html
html
    head
        link(rel="stylesheet", href="styles/style.css")
        script(src="scripts/ajax.js")
        title URL-Shortener
    body
        form(action = "/", method = "POST" id = "formId")
            div
                label(for="urlInputLabel" id="urlLabel") URL-Shortener
            br
            div
                input(name = "url" id="urlInput" placeholder="Insert URL")
                button(type = "submit" id = "btn") Submit